menu "AVB Example Configuration"
    
    config EXAMPLE_AVB_ENTITY_NAME
        string "Entity Name"
        default "AVB Example Entity"
        help
            Set the name of the AVB entity. This name will be used 
            to identify this device in the AVB network.

    config EXAMPLE_AVB_MODEL_ID
        hex "Model ID"
        default 0x0000007468696e67
        help
            Set the model ID for this AVB entity. This ID should uniquely identify 
            the model/type of AVB device within your vendor's product line.

    config EXAMPLE_AVB_TALKER
        bool "Enable AVB Talker"
        default y
        help
            Function as AVB Talker.

    config EXAMPLE_AVB_TALKER_AUTO_STREAM
        bool "Auto Stream"
        depends on EXAMPLE_AVB_TALKER
        default n
        help
            Automatically start streaming when link is up. (not implemented yet)
      
    choice EXAMPLE_SELECT_MIC_GAIN
        prompt "Default MIC gain"
        depends on EXAMPLE_AVB_TALKER
        default MIC_GAIN_6DB
        help
            Select a codec-independent default mic gain. The AVB component
            clamps and rounds this to the nearest value supported by the
            selected codec.

        config MIC_GAIN_0DB
            bool "0 dB"
        config MIC_GAIN_6DB
            bool "6 dB"
        config MIC_GAIN_12DB
            bool "12 dB"
        config MIC_GAIN_18DB
            bool "18 dB"
        config MIC_GAIN_24DB
            bool "24 dB"
    endchoice
      
    config EXAMPLE_AVB_MIC_GAIN_TENTH_DB
        depends on EXAMPLE_AVB_TALKER
        int
        default 0 if MIC_GAIN_0DB
        default 60 if MIC_GAIN_6DB
        default 120 if MIC_GAIN_12DB
        default 180 if MIC_GAIN_18DB
        default 240 if MIC_GAIN_24DB

    config EXAMPLE_AVB_LISTENER
        bool "Enable AVB Listener"
        default y
        help
            Function as AVB Listener.

    config EXAMPLE_AVB_LISTENER_AUTO_CONNECT
        bool "Auto Connect"
        depends on EXAMPLE_AVB_LISTENER
        default n
        help
            Automatically connect to an AVB Talker with the same entity model ID. (not implemented yet)
      
    config EXAMPLE_AVB_SPEAKER_VOL_TENTH_DB
        int "Default speaker volume (tenths of dB)"
        depends on EXAMPLE_AVB_LISTENER
        range -955 0
        default -100
        help
            Set a codec-independent default speaker digital volume in tenths
            of dB. For example, -100 is -10.0 dB and 0 is 0.0 dB. The AVB
            component clamps and rounds this to the nearest value supported
            by the selected codec.

    config EXAMPLE_AVB_REMOTE_CONTROL
        bool "Allow remote control via ATDECC"
        default y
        help
            Allow an AVB Controller to control this device via ATDECC protocol. If not set it will break Milan compliance.

endmenu
